.switch,
.switch-track,
.switch-thumb {
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.switch {
  --switch-width: 46px;
  --switch-height: 26px;
  --switch-padding: 3px;
  --switch-thumb: calc(var(--switch-height) - (var(--switch-padding) * 2));

  padding: 0.2rem;
  border: none;
  border-radius: 100dvh;

  display: inline-flex;
  align-items: center;
  gap: 0.65rem;

  background: transparent;
  cursor: pointer;
  user-select: none;

  transition-property: color;

  &:focus-visible {
    outline: 2px solid var(--brand-secondary);
    outline-offset: 2px;
  }

  &:active .switch-track {
    scale: 0.98;
  }
}

.switch-track {
  --track-col: oklch(0.69 0.01 250);

  position: relative;

  width: var(--switch-width);
  height: var(--switch-height);
  box-sizing: border-box;
  border: 2px solid var(--track-col);
  border-radius: 999px;

  flex: 0 0 auto;

  background: var(--track-col);

  transition-property: background, border-color;
}

.switch-thumb {
  position: absolute;
  top: 50%;
  left: calc(var(--switch-padding) - 1px);

  width: var(--switch-thumb);
  height: var(--switch-thumb);
  border-radius: 999px;

  background: oklch(1 0 0);
  box-shadow: 0 2px 6px oklch(0 0 0 / 0.25);
  transform: translate(0, -50%);

  transition-property: transform;
}

.switch-label {
  font-weight: 600;
  text-align: start;
}

.switch[aria-checked='true'] .switch-track {
  background: var(--brand-secondary);
  border-color: var(--brand-secondary);
}

.switch[aria-checked='true'] .switch-thumb {
  transform: translate(
    calc(var(--switch-width) - var(--switch-thumb) - (var(--switch-padding) * 2.5)),
    -50%
  );
}

.switch[aria-checked='true'] .switch-label {
  color: var(--brand-secondary);
}

@media (prefers-reduced-motion: reduce) {
  .switch,
  .switch-track,
  .switch-thumb {
    transition: none;
  }
}
